*
!*.*
!*/
reports
**/cmake-build-debug
CMakeLists.txt
.idea
Other_tasks
.DS_Store
.sfdx
.project
.salesforce
.settings
node_modules
.idea
.vscode
*.class
interessepkt.txt
kanter.txt
noder.txt
dijkstra.txt
astar.txt


